{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Welcome to the CMDOWS interface!</h1>
    {% include 'message.html' %}
    <p>Upload a CMDOWS file to get started:</p>
    {% include 'error.html' %}
    <form action="" class="form-inline" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" name="file">
        </div>
        <div class="form-group">
            <select class="form-control {% if not selection %}hidden{% endif %}" name="file_type" title="Type">
                <option value="auto" selected>auto</option>
                {% for type in types %}
                <option value="{{type}}">{{type.upper()}}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-default">Upload</button>
    </form>
    <p><br><br>You can also choose one of the following example files:</p>
    <div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Sellar Problem</h3>
            </div>
            <div class="panel-body blue list group">
                <a href="/examples/sellar_problem/CMDOWS/RCG.xml" class="list-group-item">
                    Repository connectivity graph
                </a>
                <a href="/examples/sellar_problem/CMDOWS/FPG_unconverged-MDA-GS.xml" class="list-group-item">
                    Fundamental problem graph<br>(unconverged MDA, Gauss-Seidel)
                </a>
                <a href="/examples/sellar_problem/CMDOWS/FPG_unconverged-MDA-J.xml" class="list-group-item">
                    Fundamental problem graph<br>(unconverged MDA, Jacobi)
                </a>
                <a href="/examples/sellar_problem/CMDOWS/FPG_unconverged-DOE-GS.xml" class="list-group-item">
                    Fundamental problem graph<br>(unconverged DOE, Gauss-Seidel)
                </a>
                <a href="/examples/sellar_problem/CMDOWS/FPG_unconverged-DOE-J.xml" class="list-group-item">
                    Fundamental problem graph<br>(unconverged DOE, Jacobi)
                </a>
                <a href="/examples/sellar_problem/CMDOWS/FPG_converged-MDA-GS.xml" class="list-group-item">
                    Fundamental problem graph<br>(MDA, Gauss-Seidel)
                </a>
                <a href="/examples/sellar_problem/CMDOWS/FPG_converged-MDA-J.xml" class="list-group-item">
                    Fundamental problem graph<br>(MDA, Jacobi)
                </a>
                <a href="/examples/sellar_problem/CMDOWS/FPG_converged-DOE-GS.xml" class="list-group-item">
                    Fundamental problem graph<br>(DOE, Gauss-Seidel)
                </a>
                <a href="/examples/sellar_problem/CMDOWS/FPG_converged-DOE-J.xml" class="list-group-item">
                    Fundamental problem graph<br>(DOE, Jacobi)
                </a>
                <a href="/examples/sellar_problem/CMDOWS/FPG_unconverged-OPT-J.xml" class="list-group-item">
                    Fundamental problem graph<br>(unconverged OPT, Jacobi)
                </a>
                <a href="/examples/sellar_problem/CMDOWS/FPG_unconverged-OPT-GS.xml" class="list-group-item">
                    Fundamental problem graph<br>(unconverged OPT, Gauss-Seidel)
                </a>
                <a href="/examples/sellar_problem/CMDOWS/FPG_MDF-GS.xml" class="list-group-item">
                    Fundamental problem graph<br>(MDF, Gauss-Seidel)
                </a>
                <a href="/examples/sellar_problem/CMDOWS/FPG_MDF-J.xml" class="list-group-item">
                    Fundamental problem graph<br>(MDF, Jacobi)
                </a>
                <a href="/examples/sellar_problem/CMDOWS/FPG_IDF.xml" class="list-group-item">
                    Fundamental problem graph<br>(IDF)
                </a>
                <a href="/examples/sellar_problem/CMDOWS/FPG_CO.xml" class="list-group-item">
                    Fundamental problem graph<br>(CO)
                </a>
                <a href="/examples/sellar_problem/CMDOWS/Mdao_unconverged-MDA-GS.xml" class="list-group-item">
                    MDAO graphs<br>(unconverged MDA, Gauss-Seidel)
                </a>
                <a href="/examples/sellar_problem/CMDOWS/Mdao_unconverged-MDA-J.xml" class="list-group-item">
                    MDAO graphs<br>(unconverged MDA, Jacobi)
                </a>
                <a href="/examples/sellar_problem/CMDOWS/Mdao_unconverged-DOE-GS.xml" class="list-group-item">
                    MDAO graphs<br>(unconverged DOE, Gauss-Seidel)
                </a>
                <a href="/examples/sellar_problem/CMDOWS/Mdao_unconverged-DOE-J.xml" class="list-group-item">
                    MDAO graphs<br>(unconverged DOE, Jacobi)
                </a>
                <a href="/examples/sellar_problem/CMDOWS/Mdao_converged-MDA-GS.xml" class="list-group-item">
                    MDAO graphs<br>(MDA, Gauss-Seidel)
                </a>
                <a href="/examples/sellar_problem/CMDOWS/Mdao_converged-MDA-J.xml" class="list-group-item">
                    MDAO graphs<br>(MDA, Jacobi)
                </a>
                <a href="/examples/sellar_problem/CMDOWS/Mdao_converged-DOE-GS.xml" class="list-group-item">
                    MDAO graphs<br>(DOE, Gauss-Seidel)
                </a>
                <a href="/examples/sellar_problem/CMDOWS/Mdao_converged-DOE-J.xml" class="list-group-item">
                    MDAO graphs<br>(DOE, Jacobi)
                </a>
                <a href="/examples/sellar_problem/CMDOWS/Mdao_unconverged-OPT-J.xml" class="list-group-item">
                    MDAO graphs<br>(unconverged OPT, Jacobi)
                </a>
                <a href="/examples/sellar_problem/CMDOWS/Mdao_unconverged-OPT-GS.xml" class="list-group-item">
                    MDAO graphs<br>(unconverged OPT, Gauss-Seidel)
                </a>
                <a href="/examples/sellar_problem/CMDOWS/Mdao_MDF-GS.xml" class="list-group-item">
                    MDAO graphs<br>(MDF, Gauss-Seidel)
                </a>
                <a href="/examples/sellar_problem/CMDOWS/Mdao_MDF-J.xml" class="list-group-item">
                    MDAO graphs<br>(MDF, Jacobi)
                </a>
                <a href="/examples/sellar_problem/CMDOWS/Mdao_IDF.xml" class="list-group-item">
                    MDAO graphs<br>(IDF)
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">TU Delft wing design</h3>
            </div>
            <div class="panel-body blue list group">
                <a href="/examples/tu_delft_wing_design/CMDOWS/RCG_small.xml" class="list-group-item">
                    Repository connectivity graph
                </a>
                <a href="/examples/tu_delft_wing_design/CMDOWS/FPG_unconverged-MDA-GS.xml" class="list-group-item">
                    Fundamental problem graph<br>(unconverged MDA, Gauss-Seidel)
                </a>
                <a href="/examples/tu_delft_wing_design/CMDOWS/FPG_unconverged-MDA-J.xml" class="list-group-item">
                    Fundamental problem graph<br>(unconverged MDA, Jacobi)
                </a>
                <a href="/examples/tu_delft_wing_design/CMDOWS/FPG_converged-MDA-GS.xml" class="list-group-item">
                    Fundamental problem graph<br>(MDA, Gauss-Seidel)
                </a>
                <a href="/examples/tu_delft_wing_design/CMDOWS/FPG_converged-MDA-J.xml" class="list-group-item">
                    Fundamental problem graph<br>(MDA, Jacobi)
                </a>
                <a href="/examples/tu_delft_wing_design/CMDOWS/FPG_unconverged-DOE-GS.xml" class="list-group-item">
                    Fundamental problem graph<br>(unconverged DOE, Gauss-Seidel)
                </a>
                <a href="/examples/tu_delft_wing_design/CMDOWS/FPG_unconverged-DOE-J.xml" class="list-group-item">
                    Fundamental problem graph<br>(unconverged DOE, Jacobi)
                </a>
                <a href="/examples/tu_delft_wing_design/CMDOWS/FPG_converged-DOE-GS.xml" class="list-group-item">
                    Fundamental problem graph<br>(DOE, Gauss-Seidel)
                </a>
                <a href="/examples/tu_delft_wing_design/CMDOWS/FPG_converged-DOE-J.xml" class="list-group-item">
                    Fundamental problem graph<br>(DOE, Jacobi)
                </a>
                <a href="/examples/tu_delft_wing_design/CMDOWS/FPG_unconverged-OPT-GS.xml" class="list-group-item">
                    Fundamental problem graph<br>(unconverged OPT, Gauss-Seidel)
                </a>
                <a href="/examples/tu_delft_wing_design/CMDOWS/FPG_unconverged-OPT-J.xml" class="list-group-item">
                    Fundamental problem graph<br>(unconverged OPT, Jacobi)
                </a>
                <a href="/examples/tu_delft_wing_design/CMDOWS/FPG_converged-OPT-GS.xml" class="list-group-item">
                    Fundamental problem graph<br>(OPT, Gauss-Seidel)
                </a>
                <a href="/examples/tu_delft_wing_design/CMDOWS/FPG_converged-OPT-J.xml" class="list-group-item">
                    Fundamental problem graph<br>(OPT, Jacobi)
                </a>
                <a href="/examples/tu_delft_wing_design/CMDOWS/FPG_MDF-GS.xml" class="list-group-item">
                    Fundamental problem graph<br>(MDF, Gauss-Seidel)
                </a>
                <a href="/examples/tu_delft_wing_design/CMDOWS/FPG_MDF-J.xml" class="list-group-item">
                    Fundamental problem graph<br>(MDF, Jacobi)
                </a>
                <a href="/examples/tu_delft_wing_design/CMDOWS/FPG_IDF.xml" class="list-group-item">
                    Fundamental problem graph<br>(IDF)
                </a>
                <a href="/examples/tu_delft_wing_design/CMDOWS/Mdao_unconverged-MDA-GS.xml" class="list-group-item">
                    MDAO graphs<br>(unconverged MDA, Gauss-Seidel)
                </a>
                <a href="/examples/tu_delft_wing_design/CMDOWS/Mdao_unconverged-MDA-J.xml" class="list-group-item">
                    MDAO graphs<br>(unconverged MDA, Jacobi)
                </a>
                <a href="/examples/tu_delft_wing_design/CMDOWS/Mdao_converged-MDA-GS.xml" class="list-group-item">
                    MDAO graphs<br>(MDA, Gauss-Seidel)
                </a>
                <a href="/examples/tu_delft_wing_design/CMDOWS/Mdao_converged-MDA-J.xml" class="list-group-item">
                    MDAO graphs<br>(MDA, Jacobi)
                </a>
                <a href="/examples/tu_delft_wing_design/CMDOWS/Mdao_unconverged-DOE-GS.xml" class="list-group-item">
                    MDAO graphs<br>(unconverged DOE, Gauss-Seidel)
                </a>
                <a href="/examples/tu_delft_wing_design/CMDOWS/Mdao_unconverged-DOE-J.xml" class="list-group-item">
                    MDAO graphs<br>(unconverged DOE, Jacobi)
                </a>
                <a href="/examples/tu_delft_wing_design/CMDOWS/Mdao_converged-DOE-GS.xml" class="list-group-item">
                    MDAO graphs<br>(DOE, Gauss-Seidel)
                </a>
                <a href="/examples/tu_delft_wing_design/CMDOWS/Mdao_converged-DOE-J.xml" class="list-group-item">
                    MDAO graphs<br>(DOE, Jacobi)
                </a>
                <a href="/examples/tu_delft_wing_design/CMDOWS/Mdao_unconverged-OPT-GS.xml" class="list-group-item">
                    MDAO graphs<br>(unconverged OPT, Gauss-Seidel)
                </a>
                <a href="/examples/tu_delft_wing_design/CMDOWS/Mdao_unconverged-OPT-J.xml" class="list-group-item">
                    MDAO graphs<br>(unconverged OPT, Jacobi)
                </a>
                <a href="/examples/tu_delft_wing_design/CMDOWS/Mdao_converged-OPT-GS.xml" class="list-group-item">
                    MDAO graphs<br>(OPT, Gauss-Seidel)
                </a>
                <a href="/examples/tu_delft_wing_design/CMDOWS/Mdao_converged-OPT-J.xml" class="list-group-item">
                    MDAO graphs<br>(OPT, Jacobi)
                </a>
                <a href="/examples/tu_delft_wing_design/CMDOWS/Mdao_MDF-GS.xml" class="list-group-item">
                    MDAO graphs<br>(MDF, Gauss-Seidel)
                </a>
                <a href="/examples/tu_delft_wing_design/CMDOWS/Mdao_MDF-J.xml" class="list-group-item">
                    MDAO graphs<br>(MDF, Jacobi)
                </a>
                <a href="/examples/tu_delft_wing_design/CMDOWS/Mdao_IDF.xml" class="list-group-item">
                    MDAO graphs<br>(IDF)
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Super-sonic business jet</h3>
            </div>
            <div class="panel-body blue list group">
                <a href="/examples/ssbj/CMDOWS/RCG.xml" class="list-group-item">
                    Repository connectivity graph
                </a>
                <a href="/examples/ssbj/CMDOWS/FPG_MDA.xml" class="list-group-item">
                    Fundamental problem graph<br>(MDA)
                </a>
                <a href="/examples/ssbj/CMDOWS/FPG_MDO.xml" class="list-group-item">
                    Fundamental problem graph<br>(MDO)
                </a>
                <a href="/examples/ssbj/CMDOWS/Mdao_unconverged-MDA-GS.xml" class="list-group-item">
                    MDAO graphs<br>(unconverged MDA, Gauss-Seidel)
                </a>
                <a href="/examples/ssbj/CMDOWS/Mdao_unconverged-MDA-J.xml" class="list-group-item">
                    MDAO graphs<br>(unconverged MDA, Jacobi)
                </a>
                <a href="/examples/ssbj/CMDOWS/Mdao_converged-MDA-GS.xml" class="list-group-item">
                    MDAO graphs<br>(MDA, Gauss-Seidel)
                </a>
                <a href="/examples/ssbj/CMDOWS/Mdao_converged-MDA-J.xml" class="list-group-item">
                    MDAO graphs<br>(MDA, Jacobi)
                </a>
                <a href="/examples/ssbj/CMDOWS/Mdao_unconverged-DOE-GS-CT.xml" class="list-group-item">
                    MDAO graphs<br>(unconverged DOE, Gauss-Seidel, Custom design table)
                </a>
                <a href="/examples/ssbj/CMDOWS/Mdao_unconverged-DOE-J-CT.xml" class="list-group-item">
                    MDAO graphs<br>(unconverged DOE, Jacobi, Custom design table)
                </a>
                <a href="/examples/ssbj/CMDOWS/Mdao_converged-DOE-GS-CT.xml" class="list-group-item">
                    MDAO graphs<br>(DOE, Gauss-Seidel, Custom design table)
                </a>
                <a href="/examples/ssbj/CMDOWS/Mdao_converged-DOE-GS-FF.xml" class="list-group-item">
                    MDAO graphs<br>(DOE, Gauss-Seidel, Full factorial design)
                </a>
                <a href="/examples/ssbj/CMDOWS/Mdao_DOE-GS-LH.xml" class="list-group-item">
                    MDAO graphs<br>(DOE, Gauss-Seidel, Latin hypercube design)
                </a>
                <a href="/examples/ssbj/CMDOWS/Mdao_DOE-GS-MC.xml" class="list-group-item">
                    MDAO graphs<br>(DOE, Gauss-Seidel, Monte Carlo design)
                </a>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}