{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Information</h1>
    <p>CMDOWS stands for Common Multidisciplinary Design Optimization Workflow Schema. The format has been developed in the framework of the <a href="http://agile-project.eu/">AGILE project</a> (Aircraft 3rd Generation MDO for Innovative Collaboration of Heterogeneous Teams of Experts). For an overview paper on the AGILE project, see reference [1].</p>
    <p>CMDOWS is an XML schema that can be used as a standardized format to store the metadata of a collection of disciplinary design tools, such as tool inputs, outputs, execution time, et cetera. CMDOWS is an open-source schema that can be found at <a href="//bitbucket.org/imcovangent/cmdows">http://bitbucket.org/imcovangent/cmdows</a>. More information on the format is provided in reference [2].</p>
    <p>
        A CMDOWS file provides a standardized file that can be used by multiple multidisciplinary design optimization (MDO) support platforms, such as:
        <ul>
            <li>dynamic visualization package</li>
            <li>graph-based design problem formulation</li>
            <li>automated process integration and design optimization (PIDO) workflow</li>
        </ul>
        More information on these integrations can be found in reference [3]. This CMDOWS interface website is focused on creating visualizations of the CMDOWS files. The graph-based design problem formulation system is used in the background to provide the visualization package with the right data.
    </p>
    <p>The dynamic visualization package has been developed by Benedikt Aigner from the <a href="http://www.maschinenbau.rwth-aachen.de/cms/Maschinenbau/Die-Fakultaet/Institute-und-Lehrstuehle/Uebersicht-aller-Institute/~xlg/ILR/?lidx=1">RWTH Aachen's Institute of Aeronautics and Astronautics</a>. It is a package that uses data-driven documents in order to be able to visualize large, complex MDO systems and processes. More information on this package can be found in reference [4].</p>
    <p>The graph-based design problem formulation system KADMOS (Knowledge- and graph-based Agile Design for Multidisciplinary Optimization System) can be used to automatically translate a collection of design tools to a design analysis and/or optimization workflow. This package has been developed by Imco van Gent at <a href="https://www.tudelft.nl/en/ae/">TU Delft's faculty of Aerospace Engineering</a>. In this website interface, KADMOS is only used to translate the data stored in the CMDOWS file to a format required for the visualization package. More information on KADMOS can be found in reference [5].</p>
    <p>CMDOWS file can also be used to automatically create a collaborative PIDO workflow. Within the AGILE project the import of CMDOWS files by two PIDO platforms is under development: <a href="http://rcenvironment.de/">RCE</a> by the DLR (German Aerospace Center) and <a href="https://www.noesissolutions.com/our-products/optimus">Optimus</a> by Noesis Solutions. More information on the Optimus-CMDOWS interface can be found in reference [6].</p>
    <p>References
        <br>[1] Ciampa, P.D., Nagel, B., The AGILE Paradigm: the next generation of collaborative MDO, 18th AIAA/ISSMO Multidisciplinary Analysis and Optimization Conference, 2017
        <br>[2] van Gent, I., Hoogreef, M.F.M., La Rocca, G., CMDOWS: A Proposed New Standard to Store and Exchange MDO Systems, CEAS Aeronautical Journal, 2018
        <br>[3] van Gent, I. and Ciampa, P.D. and Aigner, B. and Jepsen, J. and La Rocca, G., Schut, E.J., Knowledge architecture supporting collaborative MDO in the AGILE paradigm, 18th AIAA/ISSMO Multidisciplinary Analysis and Optimization Conference, 2017
        <br>[4] Aigner, B., van Gent, I., La Rocca, G., Stumpf, E., Veldhuis, L.L.M., Using graph-based algorithms and data-driven documents for formulation and visualization of large MDO systems, CEAS Aeronautical Journal, 2018
        <br>[5] van Gent, I., La Rocca, G., Veldhuis, L.L.M., Composing MDAO symphonies: graph-based generation and manipulation of large multidisciplinary systems, 18th AIAA/ISSMO Multidisciplinary Analysis and Optimization Conference, 2017
        <br>[6] van Gent, I., Lombardi, R., La Rocca, G., d'Ippolito, R., A Fully Automated Chain from MDAO Problem Formulation to Workflow Execution, Abstract submitted to EUROGEN 2017, 2017
    </p>
</div>
{% endblock %}