body {
    background-color: transparent;
    color: #fff;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
}

.full {
    background: url('background.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.alert {
    margin-bottom: 10px;
    display:inline-block;
}

p > a {
    color: #fff;
    text-decoration: underline;
}

p > a:hover {
    color: #a6e1ec;
}

ul {
    list-style: none;
    margin-left: 0;
    margin-top: -10px;
    padding-left: 0
}

.huge {
    font-size: 3rem;
    line-height: normal;
}

.glyphicon.huge {
    font-size: 5rem;
}


.spin {
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

a:hover {
    cursor: pointer;
}

.blue {
    color: #337ab7;
}

.clear-inline {
    float: left;
    clear: left;
    display: inline;
}

.container ul {
    list-style-type: circle;
    list-style-position: inside;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand > img {
    height: 100%;
    padding: 5px;
    padding-left: 15px;
    width: auto;
    display: inline-block;
}

.navbar-brand-text {
    margin-top:15px;
    display: inline-block;
}

.progress {
    width: 80%;
    clear: left;
    display: none;
    margin-bottom: 0;
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

#function_order {
    padding-left: 15px;
}