{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Acknowledgements</h1>
    <p>The development of KADMOS/VISTOMS interface and this website have been performed in the framework of the <a href="http://agile-project.eu/">AGILE project</a> (Aircraft 3rd Generation MDO for Innovative Collaboration of Heterogeneous Teams of Experts) and has received funding from the European Union Horizon 2020 Programme (H2020-MG-2014-2015) under grant agreement no. 636202. The authors are grateful to the partners of the AGILE consortium for their contribution and feedback.</p>
    <p>With special thanks to Maaike de Wit and Lukas Müller for the creation of this website interface.</p>
    <img src="{{url_for('static', filename='agile_logo.png')}}" class="img-responsive" alt="AGILE logo">
    <img src="{{url_for('static', filename='agile_partners.png')}}" class="img-responsive" alt="AGILE partners">
    <p></p>
</div>
{% endblock %}