{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Welcome to the KADMOS / VISTOMS interface!</h1>
    {% include 'message.html' %}
    <p>Click here to start a new KADMOS/VISTOMS session:</p>
    {% include 'error.html' %}
    <div class="panel-body blue list group">
        <a href="/startnewvistoms" id="confirm" class="list-group-item">
            Start new VISTOMS session
        </a>
    </div>
    <p>Click here to start a polulated KADMOS/VISTOMS session with some examples:</p>
    {% include 'error.html' %}
    <div class="panel-body blue list group">
        <a href="/startpopulatedvistoms" id="confirm" class="list-group-item">
            Start populated VISTOMS session
        </a>
    </div>
</div>
{% endblock %}