{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Information</h1>
    <p>Please, refer to the following articles for more information on the KADMOS/VISTOMS interface [1][2][3][4][5][6].</p>
    <p>References
        <br>[1] Ciampa, P.D., Nagel, B., The AGILE Paradigm: the next generation of collaborative MDO, 18th AIAA/ISSMO Multidisciplinary Analysis and Optimization Conference, 2017
        <br>[2] van Gent, I., Hoogreef, M.F.M., La Rocca, G., CMDOWS: A Proposed New Standard to Store and Exchange MDO Systems, CEAS Aeronautical Journal, 2018
        <br>[3] van Gent, I. and Ciampa, P.D. and Aigner, B. and Jepsen, J. and La Rocca, G., Schut, E.J., Knowledge architecture supporting collaborative MDO in the AGILE paradigm, 18th AIAA/ISSMO Multidisciplinary Analysis and Optimization Conference, 2017
        <br>[4] Aigner, B., van Gent, I., La Rocca, G., Stumpf, E., Veldhuis, L.L.M., Using graph-based algorithms and data-driven documents for formulation and visualization of large MDO systems, CEAS Aeronautical Journal, 2018
        <br>[5] van Gent, I., La Rocca, G., Veldhuis, L.L.M., Composing MDAO symphonies: graph-based generation and manipulation of large multidisciplinary systems, 18th AIAA/ISSMO Multidisciplinary Analysis and Optimization Conference, 2017
        <br>[6] van Gent, I., Lombardi, R., La Rocca, G., d'Ippolito, R., A Fully Automated Chain from MDAO Problem Formulation to Workflow Execution, Abstract submitted to EUROGEN 2017, 2017
    </p>
</div>
{% endblock %}